# Common compiler flags
build --cxxopt="-std=c++20"
build --cxxopt="-Wall"
build --cxxopt="-Wextra"

# Default compiler: Clang
build --action_env=CC=clang
build --action_env=CXX=clang++

# Debug build by default
build -c dbg
build --strip=never

# Test configuration
test --test_output=all
test --test_timeout=5
